.navbar{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.logo{
    width: 50%;
}
.logo-img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.nav-items{
    display: flex;
}
.nav-item {
    margin: 20px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
}
.nav-item:hover{
    border-bottom: 1px solid black;
}
.nav-item-ico{
    display: flex;
    font-size: 24px;
    font-weight: bold;
}
.nav-item-ico:hover{
    border-bottom: 1px solid black;
}
.count{
    position: absolute;
    font-size: 0.9rem;
    margin: -13px 0px 0px 20px; 
}
@media screen and (max-width: 1024px) {
   .navbar{
       padding: 20px 5px;
   } 
   .logo{
    display: flex;
    align-items: center;
    width: 10%;
    margin-right: 10px;
    }
   .logo-img{
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .nav-item{
        padding-top: 10px; 
    }
}
@media screen and (max-width: 321px) {
    .count{
        font-size:0.5rem;
    }
    .nav-item{
        font-size: 0.8rem; 
    }
    .nav-item-ico{

    }
}
@media screen and (max-width: 375px) {
    .count{
 
    }
    .nav-item-ico{

    }
}
@media screen and (max-width: 425px) {
    .count{

    }
}
@media screen and (max-width: 768px) {
    .count{

    }
}